*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
}

.maps_container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.side_nav{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(225, 199, 166);
}

/*.side_nav:hover{
    width: 20%;
}*/

.side_nav_container{
    height: 65%;
    width: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    /*background-color: bisque;*/
}

.side_nav_container .logo{
    position: absolute;
    left: 2%;
}

.side_nav_container .logo img{
    
    width: calc(5vw);
}

.side_nav_container p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 0px;
    font-size: calc(0.5vh + 2vw);
    letter-spacing: 5px;
    word-spacing: 6px;
}

.nav_options{
    height: 35%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(148, 132, 110);
}


.nav_options ul{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10%;
    padding: 5px 0px;
    /*background-color: #4CAF50;*/
}

.nav_options ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-bottom 0.3s;
    /*background-color: aqua;*/
}

.nav_options ul li a {
    text-decoration: none;
}

.nav_options ul li p{
    font-size: calc(0.5vh + 1vw);
    margin-left: 5px;
    letter-spacing: 2px;
    
}

.nav_options ul li a img{
    width: 30px;
    cursor: pointer;
}

.nav_options ul li:hover{
    border-bottom: 2px solid black; 
}


.main{
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.3s;
    cursor: pointer;
    background-color: rgb(247, 240, 231); 
}

.main .map{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: green;

}

.hidden {
    display: none;
}

.main .left_side{
    height: 100%;
    width: 0%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s;
    overflow: auto;
    background-color:rgb(125, 105, 77);
}

.left_side .field_boundaries{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.field_boundaries h2{
    height: 15%;
    width: 100%;
    font-size: calc(1vh + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 15px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 10px 50px black;
    background-color: rgb(171, 137, 98);
}

.field_boundaries ul{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
}

.field_boundaries ul li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    /*background-color: antiquewhite;*/
    background-color: rgba(255, 255, 255, 0.571);
}

.field_boundaries ul li img{
    max-width: calc(3vw);
}

.field_boundaries ul li .content{
    font-size: calc(0.7vh + 1vw);
}

.left_side .machinary_box{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
}

.machinary_box .contents{
    height: 15%;
    width: 100%;
    font-size: calc(0.7vh + 0.7vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    
    box-shadow: 0px 10px 50px black;
    background-color: rgb(171, 137, 98);
}
.machinary_box .contents h2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3px solid rgb(47, 31, 16);
}

.machinary_box .contents .head1{
    border-top: 5px solid rgb(77, 51, 18);
    background-color: rgb(146, 118, 84);
}

.machinary_box .contents h2:hover{
    border-top: 5px solid rgb(77, 51, 18);
    background-color: rgb(146, 118, 84);
}


.machinary_box .block_container{
    height: 85%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    /*background-color: red;*/
}

.machinary_box .block_container .one{
    height: 100%;
    width: 100%;
    position: relative;
}

.machinary_box .block_container ul{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    overflow: scroll;
    background-color: rgb(146, 118, 84);
    /*background-color: rgb(96, 219, 235);*/
}

.machinary_box .block_container ul li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    
    /*background-color: antiquewhite;*/
    background-color: rgba(255, 255, 255, 0.571);
}

.machinary_box .block_container ul li img{
    max-width: calc(3vw);
}

.machinary_box .block_container ul li .content{
    font-size: calc(0.7vh + 1vw);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    
}

.machinary_box .block_container .two{
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
}

.machinary_box .block_container .robots{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    /*background-color: blueviolet;*/
}

.machinary_box .block_container .robots input{
    width: calc(20vw);
    padding: 10px;
    font-size: calc(1vw + 0.3vh);
}

.machinary_box .block_container .robots select{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(20vw); 
    height: calc(5vh);
}

select::-ms-expand {
    display: none;
}

select::after {
    content: '\f107';
    font-family: FontAwesome; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.machinary_box .btn{
    height: calc(10vh);
    width: calc(20vw);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    /*background-color: red;*/
}

.machinary_box .sp, .reset, .submit{
    height: 50px;
    width: 80px;
    padding: 10px;
    border-style: none;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
   
}

.close{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -7px;
    z-index: 5;

    /*background: url('images/close.png') center center / cover no-repeat;
    /*background-color: aquamarine;*/
}

.close img{
    max-width: calc(1.5vw);
    opacity: 0.5;
}

.sp{color: orange;} .sp:hover{color: white; background-color: orange;}
.reset{color: red;} .reset:hover{color: white; background-color: red;}
.submit{color: green;} .submit:hover{color: white; background-color: green}




