<div class="login-screen container-fluid row justify-content-end">
  <div class="row justify-content-center align-items-center col-md-12">
    <div class="col-md-4 ml-auto">
      <div class="login-container p-4">
        <h2 class="text-center mb-4">Login</h2>
        <form class="form-container">
          <!-- Email Input -->
          <div class="mb-3">
            <label for="loginEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="loginEmail"
             aria-describedby="emailHelp" placeholder="Enter your email"
             required data-feedback="loginEmail-feedback">
             <div id="loginEmail-feedback" class="invalid-feedback"></div>
          </div>
          <!-- Password Input -->
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password">
          </div>
          <!-- Login Button -->
          <button type="submit" class="btn btn-success btn-block mb-3">Login</button>
        </form> <!-- Close the form -->
        <!-- Signup Option -->
        <p class="text-center mb-0">Don't have an account? 
          <span class="text-decoration-none text-primary" (click)="redirectToSignUp()" 
              style="cursor: pointer;">Sign Up</span></p>
      </div>
    </div>
  </div>
</div>
