
    <div class="signupcontainer container-fluid row justify-content-end">
      <div class="col-md-4">
        <div class="signup-container">
          <h2 class="text-center mb-4">Sign Up</h2>
          <form class="form-container">
            <!-- Email Input -->
            <div class="mb-3">
              <label for="signupEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Enter your email">
            </div>
            <!-- Password Input -->
            <div class="mb-3">
              <label for="signupPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="signupPassword" placeholder="Enter your password">
            </div>
            <!-- Confirm Password Input -->
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password">
            </div>
            <!-- Phone Number Input -->
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your phone number">
            </div>
            <!-- Signup Button -->
            <button type="submit" class="btn btn-success btn-block mb-3">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  