<div id="maarslabpics" class="carousel slide carousel-fade flex-grow-1" data-bs-ride="carousel">
  <div class="carousel-inner">
     <div class="carousel-item active c-item" data-bs-interval="8000">
        <img src="../../assets/images/c1.webp" class="d-block w-100 c-img" alt="1">
     </div>
     <div class="carousel-item c-item" data-bs-interval="8000">
        <img src="../../assets/images/c2.webp" class="d-block w-100 c-img" alt="2">
     </div>
     <div class="carousel-item c-item" data-bs-interval="8000">
        <img src="../../assets/images/c3.webp" class="d-block w-100 c-img" alt="3">
     </div>
     <div class="carousel-item c-item" data-bs-interval="8000">
        <img src="../../assets/images/c4.webp" class="d-block w-100 c-img" alt="4">
     </div>
     <div class="carousel-item c-item" data-bs-interval="8000">
        <img src="../../assets/images/c5.webp" class="d-block w-100 c-img" alt="5">
     </div>
     <div class="carousel-item c-item" data-bs-interval="8000">
        <img src="../../assets/images/c6.jpeg" class="d-block w-100 c-img" alt="6">
     </div>
     <div class="carousel-item c-item" data-bs-interval="8000">
        <img src="../../assets/images/c7.jpeg" class="d-block w-100 c-img" alt="7">
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#maarslabpics" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#maarslabpics" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
     </button>
  </div>
</div>
<div class="card-group">
  <div class="card">
     <img src="../../assets/images/rmf.webp" class="card-img-top img-smaller" alt="...">
     <div class="card-body">
        <h5 class="card-title text-center">Farm Digitization(RMF)</h5>
        <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-center">
           <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
     </div>
  </div>
  <div class="card">
     <img src="../../assets/images/rmf.webp" class="card-img-top img-smaller" alt="...">
     <div class="card-body">
        <h5 class="card-title text-center">Farm Digitization(RMF)</h5>
        <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-center">
           <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
     </div>
  </div>
  <div class="card">
     <img src="../../assets/images/rmf.webp" class="card-img-top img-smaller" alt="...">
     <div class="card-body">
        <h5 class="card-title text-center">Farm Digitization(RMF)</h5>
        <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-center">
           <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
     </div>
  </div>
</div>