*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.weather_container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.weather_container h1{
    font-size: calc(2vh + 2vw);
    /*background-color: blanchedalmond;*/
}

.weather_container .cards_container{
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    overflow: scroll;
    /*background-color: rgb(27, 176, 141);*/
}

.weather_container .cards_container .cards{
    height: 500px;
    width: 400px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px solid black;
    color: white;
    background-color: rgb(0, 73, 128);
}

.cards_container .cards h2{
    font-size: 30px;
    margin-bottom: 5px;
}

.cards_container .cards ul{
    margin-top: 20%;    
    /*background-color: blueviolet;*/
}

.cards_container .cards li{
    list-style: none;
    font-size: 25px;
    margin-bottom: 10px;
}